<a href="https://colab.research.google.com/github/Utuze27/Utuze27/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# filter() #

ages =[5,12,17,18,24,32]
def myFunc(x):
  if x < 18:
    return False
  else:
    return True
adults = filter(myFunc, ages)

for x in adults:
  print(x)

# Define function with parameters
def product_info (productname, price):
    print("Product Name: " + productname)
    print("Price: "+ str(price))

product_info("White T-Shirt", 15)
product_info(productname="Jeans", price=45)

18
24
32
Product Name: White T-Shirt
Price: 15
Product Name: Jeans
Price: 45

In [9]:
# List and del() 
beta_list = ["apple", "banana", "orange"]
del beta_list [1]
print(beta_list)

['apple', 'orange']

In [10]:
#Loop List
beta_list = ["apple", "banana", "orange"]
for x in range(1,4):
  beta_list +=['fruit']
  print(beta_list)

['apple', 'banana', 'orange', 'fruit']
['apple', 'banana', 'orange', 'fruit', 'fruit']
['apple', 'banana', 'orange', 'fruit', 'fruit', 'fruit']

In [11]:
number_list = [x**2 for x in range(10) if x % 2 == 0]
print(number_list)

[0, 4, 16, 36, 64]

In [12]:
# Dictionary #

new_dict={
    "brand": "Honda",
    "model": "Civic",
    "year" : 1995
}
new_dict["year"] = 2020
print(new_dict)

{'brand': 'Honda', 'model': 'Civic', 'year': 2020}

In [14]:
# If and Elif statements
a= 45
b= 45
if b>a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

# If-not statements
new_list = [1,2,3,4]
x = 10
if x not in new_list:
  print("'x' isn't on the list, so this is true!")

a and b are equal
'x' isn't on the list, so this is true!

In [17]:
# While loops
i = 1
while i<8:
  print(i)
  i += 1

i = 1
while i<8:
  print(i)
  if i == 4:
    break
  i += 1

1
2
3
4
5
6
7
1
2
3
4